{% extends 'base2.html' %}
  {% block content %}

   <section id="header">
    <h1  style = "position:relative; left:40px; top:90px;">
         ＨＩ , ＨＯＷ ＡＲＥ ＹＯＵ ＦＥＥＬＩＮＧ ＴＯＤＡＹ？
    </h1>

    <button  type="button" onclick="window.location.href = '/happy'" style="position:relative; left:-80px; top:200px;">ＨＡＰＰＹ</button>
    <button  type="button" onclick="window.location.href = '/emo'" style="position:relative; left:-20px; top:200px;">ＥＭＯＴＩＯＮＡＬ</button>
    <button  type="button" onclick="window.location.href = '/thrill'" style="position:relative; left:70px; top:200px;">ＴＨＲＩＬＬＥＤ</button>
    <button  type="button" onclick="window.location.href = '/conf'" style="position:relative; left:140px; top:200px;">ＣＯＮＦＩＤＥＮＴ</button>
    <button  type="button" onclick="window.location.href = '/movies'" style="position:relative; left:140px; top:300px;">𝘚𝘒𝘐𝘗</button>

    <button style = "position:relative; left: 0px; top:420px;font-size:15px ">𝘕𝘖𝘛𝘌:𝘞𝘌 𝘞𝘐𝘓𝘓 𝘋𝘐𝘙𝘌𝘊𝘛𝘓𝘠 𝘚𝘏𝘖𝘞 𝘠𝘖𝘜 𝘈𝘓𝘓 𝘛𝘏𝘌 𝘚𝘜𝘐𝘛𝘈𝘉𝘓𝘌 𝘔𝘖𝘝𝘐𝘌𝘚 𝘉𝘈𝘚𝘌D 𝘖𝘕 𝘠𝘖𝘜𝘙 𝘈𝘕𝘚𝘞𝘌𝘙 ᎧᏒ 𝘠𝘖𝘜 𝘊𝘈𝘕 𝘚𝘒𝘐𝘗 𝘛𝘏𝘐𝘚 𝘚𝘛𝘌𝘗</button>
   </div>
</section>
  {% endblock %}
