<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-database.js"></script> 
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />
    <title>LOGIN AUTH</title>
    

</head>
<body>

  <div style="position: relative; left: 100px;top: 300px;">
        <h1>𝐿𝑜𝑔𝑔𝑒𝒹 𝒾𝓃</h1>
        <p>CLICK OVER HERE TO CONTINUE</p>

        <button type="button" class="btn btn-warning"><a href="af" style="color: black;">CONTINUE</a></button>
        <br><br>

        <button onclick="mainApp.logOut()" class="btn btn-dark" style="position: relative; left: 200px;top: 200px;">LOGOUT</button>
        <script src="firebase.js"></script>
        <script src="main.js"></script>
    </div>

    <script src="../static/js/firebase.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>

