 {% extends 'base.html' %}
  {% block content %}
    <div class="container" style="position:relative; left:0px; top:50px;">
    <table class="table">
     <thead class="thead-dark table table-dark">
      <tr>
      <th scope="col">YEAR RELEASED</th>
      <th scope="col">MOVIE</th>
      <th scope="col">DIRECTOR</th>
      <th scope="col">RATING(imdb)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2013</th>
      <td> 𝒜𝒷𝑜𝓊𝓉 𝓉𝒾𝓂𝑒<br>
          <img src="static/images/about time.jpg" width="200" height=300">
      </td>
      <td><b>Richard Curtis </b></td>
      <td>7.8/10</td>
    </tr>
    <tr>
      <th scope="row">2011</th>
      <td> 𝒯𝒽𝑒 𝒾𝓃𝓉𝑜𝓊𝒸𝒽𝒶𝒷𝓁𝑒𝓈 <br>
           <img src="static/images/in.jpg" width="200" height=300">
      </td>
      <td><b> Olivier Nakache</b></td>
      <td>8.5/10</td>
    </tr>
    <tr>
      <th scope="row">1994</th>
        <td><b> 𝒯𝒽𝑒 𝒮𝒽𝒶𝓌𝓈𝒽𝒶𝓃𝓀 𝑅𝑒𝒹𝑒𝓂𝓅𝓉𝒾𝑜𝓃</b><br>
         <img src="static/images/3725_aa.jpg" width="200" height=300">
      </td>
      <td><b> Frank Darabont  </b></td>
      <td>9.3/10</td>
    </tr>
   <tr>
      <th scope="row">1994</th>
        <td><b>Forrest Gump</b><br>
         <img src="static/images/forest gump.jpg" width="300" height=160">
      </td>
      <td><b>  Robert Zemeckis </b></td>
      <td>8.8/10</td>
    </tr>
    <tr>
      <th scope="row">𝟤𝟢𝟣𝟧</th>
        <td><b>𝒞𝓇𝑒𝑒𝒹 𝟤</b><br>
         <img src="static/images/credd2.jpg" width="200" height=300">
      </td>
      <td><b>  Ryan coogler </b></td>
      <td>7.6/10</td>
    </tr>
  </tbody>

</table>
 </div>


 {% endblock %}
