 {% extends 'base.html' %}
  {% block content %}
  <div style="position:relative; left:350px; top:50px; ">
    <table  >
    <thead>
    <tr>
      <th scope="col">YEAR RELEASED
      <th>MOVIE
      <th>DIRECTOR
      <th>RATINGS(imdb)

  </thead>
  <tbody>
    <tr>
      <td>2016
      <td>𝓣𝓱𝓮 𝓯𝓪𝓾𝓵𝓽 𝓲𝓷 𝓸𝓾𝓻 𝓼𝓽𝓪𝓻𝓼<br>
           <img src="static/images/fault.jpg" width="200" height=300">
      </td>
      <td>Josh Boone
      <td>7.7/10

   <tr>
      <td>2010
      <td>𝓡𝓮𝓶𝓮𝓶𝓫𝓮𝓻 𝓶𝓮<br>
           <img src="static/images/RM.jpg" width="200" height=300">
      </td>
      <td>Allen Coulter
      <td>7.1/10

    <tr>
      <td>2016
      <td>𝓜𝓮 𝓫𝓮𝓯𝓸𝓻𝓮 𝔂𝓸𝓾 <br>
           <img src="static/images/MBY.jpg" width="200" height=300">
      </td>
      <td>Thea Sharrock
      <td>7.4/10

    <tr>
      <td>1997
      <td>𝓣𝓲𝓽𝓪𝓷𝓲𝓬<br>
           <img src="static/images/titanic-min.jpg" width="200" height=300">
      </td>
      <td>James Cameron
      <td>7.8/10

    <tr>
      <td>2015
      <td>𝐼𝓃𝓈𝒾𝒹𝑒 𝒪𝓊𝓉<br>
           <img src="static/images/Inside_Out_(2015_film)_poster.jpg" width="200" height=300">
      </td>
      <td>Pete doctor
      <td>8.1/10
  </tbody>
</table>
      </div>
 </div>
 {% endblock %}
