 {% extends 'base.html' %}
  {% block content %}
    <div class="container" style="position:relative; left:0px; top:50px;">
    <table class="table">
     <thead class="thead-dark table table-dark">
      <tr>
      <th scope="col">YEAR RELEASED</th>
      <th scope="col">MOVIE</th>
      <th scope="col">DIRECTOR</th>
      <th scope="col">RATING(imdb)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2016</th>
      <td>𝙇𝘼 𝙇𝘼 𝙇𝘼𝙉𝘿<br>
          <img src="static/images/la-la-land-poster02.jpg" width="200" height=300">
      </td>
      <td><b>Damien Chazelle</b></td>
      <td>08/10</td>
    </tr>
    <tr>
      <th scope="row">2009</th>
      <td>𝙐𝙥!<br>
           <img src="static/images/up.jpg" width="200" height=300">
      </td>
      <td><b>PETER DOCTOR</b></td>
      <td>8.2/10</td>
    </tr>
    <tr>
      <th scope="row">2001</th>
        <td><b>𝘏𝘢𝘳𝘳𝘺 𝘗𝘰𝘵𝘵𝘦𝘳 𝘢𝘯𝘥 𝘵𝘩𝘦 𝘗𝘩𝘪𝘭𝘰𝘴𝘰𝘱𝘩𝘦𝘳'𝘴 𝘚𝘵𝘰𝘯𝘦</b><br>
         <img src="static/images/harry-potter-and-the-sorcerers-stone-resized-opt.jpg" width="200" height=300">
      </td>
      <td><b> Chris Columbus </b></td>
      <td>7.6/10</td>
    </tr>
    <tr>
      <th scope="row">1994</th>
        <td><b>Forrest Gump</b><br>
         <img src="static/images/forest gump.jpg" width="300" height=160">
      </td>
      <td><b>  Robert Zemeckis </b></td>
      <td>8.8/10</td>
    </tr>
    <tr>
      <th scope="row">1994</th>
        <td><b>Rush Hour</b><br>
         <img src="static/images/rushhour.jpg" width="150" height=200">
      </td>
      <td><b>  Brett Ratner </b></td>
      <td>7/10</td>
    </tr>
    <tr>
      <th scope="row">2010</th>
        <td><b>DESPICABLE ME</b><br>
         <img src="static/images/dp.jpg" width="200" height=300">
      </td>
      <td><b>   Chris Meledandri </b></td>
      <td>7.6/10</td>
    </tr>
  </tbody>

</table>
 </div>


 {% endblock %}
