<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-database.js"></script> 
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />
    <title>LOGIN AUTH</title>
</head>
<body>
    <!-- The surrounding HTML is left untouched by FirebaseUI.
     Your app may use that space for branding, controls and other customizations.-->
            <h1 style="position: relative; left: 410px;top: 10px; padding: 20px">－－－－－ＬＯＧＩＮ－－－－－－</h1>
            <div id="firebaseui-auth-container"></div>
            <div id="loader">Loading...</div>
    <script src="../static/js/firebase.js"></script>
    <script src="../static/js/login.js"></script>
</body>
</html>