 {% extends 'base.html' %}
  {% block content %}
    <div class="container">
      <h1>(っ◔◡◔)っ ♥ Movies ♥</h1>
    </div>
     <div class="container" style="position:relative; left:0px; top:50px;">
    <table class="table">
     <thead class="thead-dark table table-dark">
      <tr>
      <th scope="col">YEAR RELEASED</th>
      <th scope="col">MOVIE</th>
      <th scope="col">DIRECTOR</th>
      <th scope="col">RATING(imdb)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2016</th>
      <td>𝙇𝘼 𝙇𝘼 𝙇𝘼𝙉𝘿<br>
          <img src="static/images/la-la-land-poster02.jpg" width="200" height=300">
      </td>
      <td><b>Damien Chazelle</b></td>
      <td>08/10</td>
    </tr>
    <tr>
      <th scope="row">2009</th>
      <td>𝙐𝙥!<br>
           <img src="static/images/up.jpg" width="200" height=300">
      </td>
      <td><b>PETER DOCTOR</b></td>
      <td>8.2/10</td>
    </tr>
    <tr>
      <th scope="row">2001</th>
        <td><b>𝘏𝘢𝘳𝘳𝘺 𝘗𝘰𝘵𝘵𝘦𝘳 𝘢𝘯𝘥 𝘵𝘩𝘦 𝘗𝘩𝘪𝘭𝘰𝘴𝘰𝘱𝘩𝘦𝘳'𝘴 𝘚𝘵𝘰𝘯𝘦</b><br>
         <img src="static/images/harry-potter-and-the-sorcerers-stone-resized-opt.jpg" width="200" height=300">
      </td>
      <td><b> Chris Columbus </b></td>
      <td>7.6/10</td>
    </tr>
    <tr>
      <th scope="row">1994</th>
        <td><b>Forrest Gump</b><br>
         <img src="static/images/forest gump.jpg" width="300" height=160">
      </td>
      <td><b>  Robert Zemeckis </b></td>
      <td>8.8/10</td>
    </tr>
    <tr>
      <th scope="row">1994</th>
        <td><b>Rush Hour</b><br>
         <img src="static/images/rushhour.jpg" width="150" height=200">
      </td>
      <td><b>  Brett Ratner </b></td>
      <td>7/10</td>
    </tr>
    <tr>
      <th scope="row">2010</th>
        <td><b>DESPICABLE ME</b><br>
         <img src="static/images/dp.jpg" width="200" height=300">
      </td>
      <td><b>   Chris Meledandri </b></td>
      <td>7.6/10</td>
    </tr>

  </thead>
  <tbody>
    <tr>
      <th scope="row">2013</th>
      <td> 𝒜𝒷𝑜𝓊𝓉 𝓉𝒾𝓂𝑒<br>
          <img src="static/images/about time.jpg" width="200" height=300">
      </td>
      <td><b>Richard Curtis </b></td>
      <td>7.8/10</td>
    </tr>
    <tr>
      <th scope="row">2011</th>
      <td> 𝒯𝒽𝑒 𝒾𝓃𝓉𝑜𝓊𝒸𝒽𝒶𝒷𝓁𝑒𝓈 <br>
           <img src="static/images/in.jpg" width="200" height=300">
      </td>
      <td><b> Olivier Nakache</b></td>
      <td>8.5/10</td>
    </tr>
    <tr>
      <th scope="row">1994</th>
        <td><b> 𝒯𝒽𝑒 𝒮𝒽𝒶𝓌𝓈𝒽𝒶𝓃𝓀 𝑅𝑒𝒹𝑒𝓂𝓅𝓉𝒾𝑜𝓃</b><br>
         <img src="static/images/3725_aa.jpg" width="200" height=300">
      </td>
      <td><b> Frank Darabont  </b></td>
      <td>9.3/10</td>
    </tr>
   <tr>
      <th scope="row">1994</th>
        <td><b>Forrest Gump</b><br>
         <img src="static/images/forest gump.jpg" width="300" height=160">
      </td>
      <td><b>  Robert Zemeckis </b></td>
      <td>8.8/10</td>
    </tr>
    <tr>
      <th scope="row">𝟤𝟢𝟣𝟧</th>
        <td><b>𝒞𝓇𝑒𝑒𝒹 𝟤</b><br>
         <img src="static/images/credd2.jpg" width="200" height=300">
      </td>
      <td><b>  Ryan coogler </b></td>
      <td>7.6/10</td>
    </tr>

  </thead>
  <tbody>
    <tr>
      <th scope="row">2019</th>
      <td>𝒯𝒽𝑒 𝒫𝓁𝒶𝓉𝒻𝑜𝓇𝓂<br>
          <img src="static/images/The_Platform_poster.jpg" width="200" height=300">
      </td>
      <td><b>Galder Gaztelu-Urrutia </b></td>
      <td>07/10</td>
    </tr>
    <tr>
      <th scope="row">2019</th>
      <td>𝐸𝓈𝒸𝒶𝓅𝑒 𝑅𝑜𝑜𝓂 <br>
           <img src="static/images/DP_4407708_TC_1400x2100_DP_4407709_EscapeRoom_EST_2000x3000_US_15.jpg" width="200" height=300">
      </td>
      <td><b> Adam robitel</b></td>
      <td>6.4/10</td>
    </tr>
    <tr>
      <th scope="row">2020</th>
        <td><b> 𝐸𝓍𝓉𝓇𝒶𝒸𝓉𝒾𝑜𝓃</b><br>
         <img src="static/images/excract.jpg" width="200" height=300">
      </td>
      <td><b> Sam hargrave  </b></td>
      <td>6.6/10</td>
    </tr>
    <tr>
      <th scope="row">2016</th>
        <td><b> 𝒜𝓇𝓇𝒾𝓋𝒶𝓁 </b><br>
         <img src="static/images/arrival.jpg" width="200" height=300">
      </td>
      <td><b>  Denis Villeneuve</b></td>
      <td>7.9/10</td>
    </tr>
    <tr>
      <th scope="row">2017</th>
        <td><b>𝐿𝒾𝒻𝑒</b><br>
         <img src="static/images/Life.png" width="200" height=300">
      </td>
      <td><b>  Daniel Espinosa </b></td>
      <td>6.9/10</td>
    </tr>
  </tbody>

</table>
 </div>

 {% endblock %}
