 {% extends 'base.html' %}
  {% block content %}
    <div class="container" style="position:relative; left:0px; top:50px;">
    <table class="table">
     <thead class="thead-dark table table-dark">
      <tr>
      <th scope="col">YEAR RELEASED</th>
      <th scope="col">MOVIE</th>
      <th scope="col">DIRECTOR</th>
      <th scope="col">RATING(imdb)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2019</th>
      <td>𝒯𝒽𝑒 𝒫𝓁𝒶𝓉𝒻𝑜𝓇𝓂<br>
          <img src="static/images/The_Platform_poster.jpg" width="200" height=300">
      </td>
      <td><b>Galder Gaztelu-Urrutia </b></td>
      <td>07/10</td>
    </tr>
    <tr>
      <th scope="row">2019</th>
      <td>𝐸𝓈𝒸𝒶𝓅𝑒 𝑅𝑜𝑜𝓂 <br>
           <img src="static/images/DP_4407708_TC_1400x2100_DP_4407709_EscapeRoom_EST_2000x3000_US_15.jpg" width="200" height=300">
      </td>
      <td><b> Adam robitel</b></td>
      <td>6.4/10</td>
    </tr>
    <tr>
      <th scope="row">2020</th>
        <td><b> 𝐸𝓍𝓉𝓇𝒶𝒸𝓉𝒾𝑜𝓃</b><br>
         <img src="static/images/excract.jpg" width="200" height=300">
      </td>
      <td><b> Sam hargrave  </b></td>
      <td>6.6/10</td>
    </tr>
    <tr>
      <th scope="row">2016</th>
        <td><b> 𝒜𝓇𝓇𝒾𝓋𝒶𝓁 </b><br>
         <img src="static/images/arrival.jpg" width="200" height=300">
      </td>
      <td><b>  Denis Villeneuve</b></td>
      <td>7.9/10</td>
    </tr>
    <tr>
      <th scope="row">2017</th>
        <td><b>𝐿𝒾𝒻𝑒</b><br>
         <img src="static/images/Life.png" width="200" height=300">
      </td>
      <td><b>  Daniel Espinosa </b></td>
      <td>6.9/10</td>
    </tr>
  </tbody>

</table>
 </div>


 {% endblock %}
